@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
/* extension CSS NAVIGATION BUSCA LAS CLASES del html*/
*{
    font-family: 'Poppins', sans-serif;
}
/* primero definimos el diseño para pantallas de escritorio*/

.navbar a{
    font-weight: 600;
    font-size: 18px;
}

.carousel-item{
    min-height: 400px;
}

.carousel-caption{
    bottom: 220px;
    z-index: 2;
}

.carousel-caption h5 {
    font-size: 70px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 25px;
}

.carousel-caption p {
    width: 60%;
    margin: 10px auto;
    font-size: 18px;
}

.carousel-inner::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4)
}

.services{
    padding: 80px 0;

}



.bg-car1{
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
    )
    ,url(../img/c1.jpg); /* la ruta al añadir la imagen no debe ser una ruta absoluta como por ejemplo :
    C:\workspace\01\assets\img , ya que desde la web no se tomara la imagen , por eso hemos puesto esta ruta ya que es mas general y asi se mostrara en la pagina web
    */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    
  
}

.bg-car2{
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
    )
    ,url(../img/c2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    
  
}

.bg-car3{
    background-image: url(../img/c3.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 304px;
    bottom: auto;
}

.box-icons{
    font-size: 40px;
}

.box-icons h3{
    font-size: 20px;
    font-weight: 800;
}

.product {
    padding: 80px 0;
}

.card-img{
    width: 150px;
    height: 150px;
}



.banner{
    padding: 50px 0;
    margin-bottom: 80px;
    background-color: #EAE5DF;
}

.banner h2{
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 800;

}

.banner-img{
    width: 300px;

}

@media(max-width: 767px) /* Estilos para smartphones (hasta 767px) */ {
    .carousel-item{
        min-height: 500px;
    }

    .carousel-item img{
        height: 500px;

    }

    .carousel-caption{
        bottom: 30px;
    }

    .carousel-caption h5{
        font-size 50px;
        margin-top: 0;
    }

    .carousel-caption p{
        width: 100%;
        font-size 16px;
    }

    .services{
        padding: 30px 0;

    }

    .product{
        padding: 30px 0 0 0;
    }

    .banner{
        margin-bottom: 30px;
    }
}



.img_banner_motor{
    width: 500px;
}

/* FOOTER */
footer {
    background-color: #343a40; /* Cambia el color de fondo */
    color: white; /* Cambia el color de texto */
    padding: 20px 0;
}

.footer-container {
    display: flex;
    justify-content: space-around;
}

.footer-section {
    flex: 1;
    margin: 0 20px;
}

.footer-section h3 {
    margin-bottom: 20px;
}

.footer-section p {
    margin-bottom: 10px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 5px;
}

.footer-section ul li a {
    color: white;
    text-decoration: none;
}

.footer-section ul li a:hover {
    color: #007bff; /* Cambia el color al pasar el mouse */
}

.footer-bottom {
    margin-top: 20px;
    border-top: 1px solid #666; /* Agrega una línea superior */
    padding-top: 10px;
}
