@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
/* extension CSS NAVIGATION BUSCA LAS CLASES del html*/
*{
    font-family: 'Poppins', sans-serif;
}
/* primero definimos el diseño para pantallas de escritorio*/

.card-body{
    font-size: 90%;
}

.navbar a{
    font-weight: 600;
    font-size: 18px;
}

.carousel-item{
    min-height: 400px;
}

.carousel-caption{
    bottom: 220px;
    z-index: 2;
}

.carousel-caption h5 {
    font-size: 70px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 25px;
}

.carousel-caption p {
    width: 60%;
    margin: 10px auto;
    font-size: 18px;
}

.carousel-inner::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4)
}

.services{
    padding: 80px 0;

}



.bg-car1{
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
    )
    ,url(../img/c1.jpg); /* la ruta al añadir la imagen no debe ser una ruta absoluta como por ejemplo :
    C:\workspace\01\assets\img , ya que desde la web no se tomara la imagen , por eso hemos puesto esta ruta ya que es mas general y asi se mostrara en la pagina web
    */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    
  
}

.bg-car2{
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
    )
    ,url(../img/c2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    
  
}

.bg-car3{
    background-image: url(../img/c3.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 304px;
    bottom: auto;
}

.box-icons{
    font-size: 40px;
}

.box-icons h3{
    font-size: 20px;
    font-weight: 800;
}

.product {
    padding: 80px 0;
}

.card-img{
    width: 150px;
    height: 150px;
}

.banner{
    padding: 50px 0;
    margin-bottom: 80px;
    background-color: #EAE5DF;
}

.banner h2{
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 800;

}

.banner-img{
    width: 300px;

}

  
.card {
    height: 400px; /* Ajusta esta altura según sea necesario */
    margin-bottom: 20px; /* Espacio entre las tarjetas */
}

/* Ajusta el margen inferior de la última tarjeta para evitar superposiciones */
.card:last-child {
    margin-bottom: 0; /* Elimina el margen inferior de la última tarjeta */
}

.contacto{
    margin-top: 100px; /* Ajusta este valor según sea necesario */
}

.container-icons{
    height: 10%;

}

.section-icons {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.container-icons {
  max-width: 1100px;
}

.box-icons {
  margin-bottom: 2rem;
}

.img_banner_motor{
    height: 30%;
    width: 30%;
}






  
  
  /* Mobile devices */
@media only screen and (min-width: 320px) and (max-width: 480px) {
    /* Estilos para dispositivos móviles */
    .card{

    }

    .card-body{
        font-size: 65%;
    }
  }
  
  /* iPads, Tablets */
  @media only screen and (min-width: 481px) and (max-width: 768px) {
    /* Estilos para iPads y Tablets */
    .card-body{
        font-size: 80%;
    }

   .card {
  width: 400px; /* Ancho de la tarjeta */
  height: 400px; /* Alto de la tarjeta */
  /* Otros estilos de la tarjeta */
}

    .img_banner_motor{
        width: 40%;
        height: 40%;
    }
  }
  
  /* Small screens, laptops */
  @media only screen and (min-width: 769px) and (max-width: 1024px)  {

    .services h3 {
        margin-top: 80px; /* Ajusta este valor según sea necesario */
      }

    .card-body{
        font-size: 60%;
        
    }

    .carousel-item{
        min-height: 500px;
    }

    .carousel-item img{
        height: 500px;

    }

    .carousel-caption{
        bottom: 30px;
    }

    .carousel-caption h5{
        font-size: 50px;
        margin-top: 0;
    }

    .carousel-caption p{
        width: 100%;
        font-size: 16px;
    }

    .services{
        padding: 30px 0;

    }

    .product{
        padding: 30px ,0 ,0 ,0;
    }

    .banner{
        margin-bottom: 30px;
    }
    
    .img_banner_motor{
        height: 5%;
        width: 5%;
    }
}
  /* Desktops, large screens */
  @media only screen and (min-width: 1025px) and (max-width: 1200px) {
    /* Estilos para escritorios y pantallas grandes */
  }
  


@font-face {
    font-family: 'Roboto', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
}


.estilo-titulo {
    font-family: 'Roboto', sans-serif; /* Usar la fuente Roboto */
    font-size: 3em; /* Tamaño del texto */
    color: #003366; 
    text-align: center; /* Alineación centrada */
    border: 4px solid #66CCCC; /
    padding: 10px 20px; /* Espacio interno */
    border-radius: 10px; /* Bordes redondeados */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra del texto */
    background-color: #E6F2F0; /* Fondo del título (azul claro) */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra exterior */
}



























    




























