@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
/* extension CSS NAVIGATION BUSCA LAS CLASES del html*/
*{
    font-family: 'Poppins', sans-serif;
}
/* primero definimos el diseño para pantallas de escritorio*/

.navbar a{
    font-weight: 600;
    font-size: 18px;
}

.carousel-item{
    min-height: 400px;
}

.carousel-caption{
    bottom: 220px;
    z-index: 2;
}

.carousel-caption h5 {
    font-size: 70px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 25px;
}

.carousel-caption p {
    width: 60%;
    margin: 10px auto;
    font-size: 18px;
}

.carousel-inner::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4)
}

.services{
    padding: 80px 0;

}



.bg-car1 {
    background-image: linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0, 255, 42, 0.5)
    ), url("file:///C:/workspace/01/assets/img/c1.jpg");
}





